:root {
  scroll-behavior: smooth;
  --border-bottom: 1px solid rgba(153, 95, 95, 0.795);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
    padding: 60px 0;
  }
}

.header {
  height: 50vh;
  background-image: linear-gradient(
      to top,
      rgb(168, 237, 234, 0.3) 0%,
      rgb(254, 214, 227, 0.5) 80%
    ),
    url(../assets/img/photos/code-man.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header {
    height: 100vh;
  }
}

.logo {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 2em;
  text-transform: uppercase;
}
.logo__img {
  width: 35px;
  opacity: 50%;
}

.hero {
  padding: 1.5em;
  height: 100%;
  text-align: center;
  color: #000000;
}
.hero__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.hero__text {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.menu {
  position: fixed;
  top: 10px;
  right: 20px;
  background: #fff;
  width: 35px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(22, 21, 21, 0.9) 0%,
    rgba(27, 28, 29, 0.9) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
}
.navbar--translate {
  transform: translate(0);
}
.navbar__link {
  text-decoration: none;
  color: rgb(255, 253, 253);
}

/*services */
.services {
  padding: 1em;
  text-align: center;
}
.services__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: var(--border-bottom);
}
.service {
  margin: 40px 0;
}
.service__img {
  width: 100%;
}
.service__name {
  margin-bottom: 1rem;
  color: rgba(99, 184, 99, 0.836);
}
.service__description {
  font-size: 0.8rem;
}

/** gallery**/

.gallery {
  background-color: #fceded;
  padding: 1em;
}
.gallery__title {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom: var(--border-bottom);
}
@media screen and (min-width: 768px) {
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 2em;
}
.image-lightbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(110%);
  transition: transform 0.2s ease-in-out;
}
.image-lightbox--show {
  transform: translate(0);
}
.window-open {
  width: 90%;
  height: 60%;
  border-radius: 20px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}
.window-close {
  position: absolute;
  top: 16%;
  left: 50%;
  width: 25px;
}
@media (hover: hover) {
  .window-close:hover {
    cursor: pointer;
  }
}
.show-image {
  transform: scale(1);
}
/*About us*/
.about {
  text-align: center;
  padding: 1em;
}
.about__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: var(--border-bottom);
}
.about__name {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 300;
}
.about__description {
  margin-top: 0;
  padding: 1em;
  font-size: 0.9rem;
}

/*experience */
.experience {
  padding: 0 1em;
  text-align: center;
}
.experience__title {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: var(--border-bottom);
}

/***Slider **/
.slider {
  background-color: #f2f2f2;
}
.slider-arrow {
  width: 30px;
}
.slider-arrow:active {
  color: orange;
}
@media (hover: hover) {
  .slider-arrow {
    cursor: pointer;
  }
}
.slider-arrow:nth-of-type(2) {
  justify-self: end;
}
.slider-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  min-height: 40vh;
}
.slider__item {
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
  background-color: hsl(0, 0%, 95%, 0.5);
  opacity: 0;
}
.slider__item--show {
  opacity: 1;
  pointer-events: unset;
}
.experience__text {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
}
.experience__img {
  width: 200px;
  border-radius: 50%;
}

/*footer*/

.footer {
  background: #181422;
  padding-bottom: 0.1px;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-left: 1em;
}
.brand {
  flex-basis: 70%;
  color: #fff;
}
.brand__name {
  margin-top: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}
.brand__description {
  font-weight: 400;
  font-size: 0.9em;
}
.social-media {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social-media__icon {
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8em;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}
@media (hover: hover) {
  .social-media__icon:hover {
    background: #fff;
    color: #343822;
  }
}
i[class*="bxl-"] {
  font-size: 25px;
}
.copyright {
  margin-bottom: 4px;
  font-size: 0.7em;
  text-align: center;
  color: #fff;
}
